@media all and (min-width: 768px) {
  
  .main-content {
    flex-direction: row;
    overflow: hidden;
  }

  .detail__container {
    order: 1;
  }

  .thumbnail__list {
    flex-direction: column;
    margin-top: 0;
    margin-left: 20px;
  }

  .thumbnail__item {
    max-width: 250px;

    & + li {
      margin-top: 10px;
    }
  }

}